<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>商城触屏版</title>
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
<link rel="apple-touch-icon" href="images/touch-icon-iphone.png"/>


</head>
<body>
<!-- <div id='addr'>afdgfffffffffffffffffffffffffffffffffffffffffff</div> -->
<div class="nctouch-home-top fixed-Width">
  <header id="header" class="transparent">
  	<div class="logo"></div>

    <div class="header-wrap">
     <span class='area'>地区:</span><a href="tmpl/search.html" class="header-inp width"> <i class="icon"></i> <span class="search-input" id="keyword">请输入关键词</span> </a>
    </div>
    <div class="header-r"><a id="header-nav" href="./tmpl/member/chat_list.html"><i class="message"></i>
      <p>消息</p>
      <sup></sup></a></div>
  </header>
  <div class="cohesive"></div>
  <div class="slider_list" id="main-container1"></div>
</div>
<div class="nctouch-home-nav fixed-Width">
  <ul>
    <li><a href="tmpl/product_first_categroy.html"><span><i></i></span>
      <p>分类</p>
      </a></li>
    <li><a href="tmpl/cart_list.html"><span><i></i></span>
      <p>购物车</p>
      </a></li>
    <li><a href="tmpl/member/member.html"><span><i></i></span>
      <p>我的商城</p>
      </a></li>
    <li><a href="tmpl/member/signin.html"><span><i></i></span>
      <p>每日签到</p>
      </a></li>
  </ul>
</div>
<div class="nctouch-home-layout" id="main-container2"></div>
<div class="fix-block-r">
	<a href="javascript:void(0);" class="gotop-btn gotop hide" id="goTopBtn"><i></i></a>
</div>
<footer id="footer" class="fixed-Width"></footer>
<script type="text/html" id="slider_list">
		<div class="swipe-wrap">
		<% for (var i in item) { %>
			<div class="item">
				<a href="<%= item[i].url %>">
					<img src="<%= item[i].image %>" alt="">
				</a>
			</div>
		<% } %>
		</div>
</script> 
<script type="text/html" id="home1">
	<div class="nctouch-home-block">
	<% if (title) { %>
		<div class="tit-bar"><%= title %></div>
	<% } %>
		<div class="item-pic">
			<a href="<%= url %>">
				<img src="<%= image %>" alt="">
			</a>
		</div>
	</div>
</script> 
<script type="text/html" id="home2">
	<div class="nctouch-home-block">
	<% if (title) { %>
		<div class="tit-bar"><%= title %></div>
	<% } %>
		<ul class="item-pic-l1-r2">
			<li>
				<a href="<%= square_url %>"><img src="<%= square_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle1_url %>"><img src="<%= rectangle1_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle2_url %>"><img src="<%= rectangle2_image %>" alt=""></a>
			</li>
		</ul>
	</div>
</script> 
<script type="text/html" id="home3">
	<div class="nctouch-home-block">
	<% if (title) { %>
		<div class="tit-bar"><%= title %></div>
	<% } %>
		<ul class="item-pic-list">
		<% for (var i in item) { %>
			<li>
				<a href="<%= item[i].url %>"><img src="<%= item[i].image %>" alt=""></a>
			</li>
		<% } %>
		</ul>
	</div>
</script> 
<script type="text/html" id="home4">
	<div class="nctouch-home-block">
	<% if (title) { %>
		<div class="tit-bar"><%= title %></div>
	<% } %>
		<ul class="item-pic-l2-r1">
			<li>
				<a href="<%= rectangle1_url %>"><img src="<%= rectangle1_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle2_url %>"><img src="<%= rectangle2_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= square_url %>"><img src="<%= square_image %>" alt=""></a>
			</li>
		</ul>
	</div>
</script> 
<script type="text/html" id="goods">
	<div class="nctouch-home-block item-goods">
	<% if (title) { %>
		<div class="tit-bar"><%= title %></div>
	<% } %>
		<ul class="goods-list">
		<% for (var i in item) { %>
			<li>
				<a href="tmpl/product_detail.html?goods_id=<%= item[i].goods_id %>">
					<div class="goods-pic"><img src="<%= item[i].goods_image %>" alt=""></div>
					<dl class="goods-info">
						<dt class="goods-name"><%= item[i].goods_name %></dt>
						<dd class="goods-price">￥<em><%= item[i].goods_promotion_price %></em></dd>
					</dl>
				</a>
			</li>
		<% } %>
		</ul>

	</div>

</script> 
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=GAGiz9gdoRfTpImL6A2RZYxH"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script> 
<script type="text/javascript" src="http://developer.baidu.com/map/jsdemo/demo/convertor.js"></script>
<script type="text/javascript" src="js/config.php"></script>
<script type="text/javascript" src="js/zepto.min.js"></script> 
<script type="text/javascript" src="js/template.js"></script> 
<script type="text/javascript" src="js/common.js"></script> 
<script type="text/javascript" src="js/swipe.js"></script> 
<script type="text/javascript" src="js/index.js"></script> 
<script type="text/javascript" src="js/tmpl/footer.js"></script>

<script type="text/javascript" src="js/addtohomescreen.js"></script>
<script>
	addToHomescreen({
		message:'如要把应用程式加至主屏幕,请点击%icon, 然后<strong>加至主屏幕</strong>'
	});
</script>
<script>
function getPositionError(error) {
      //  HTML5 定位失败时，调用百度地图定位   
        var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function(r){
            if(this.getStatus() == BMAP_STATUS_SUCCESS){
                var mk = new BMap.Marker(r.point);
                var pt = r.point;

                $.cookie("lng",pt.lng,{expires:7});
                $.cookie("lat",pt.lat,{expires:7});

                $.post("ajax_back_end.php",{"act":"reposition","lng":pt.lng,"lat":pt.lat},function(){})
                              
            }
        },{enableHighAccuracy: true});
    }

    function getPositionSuccess(position){
      var lat = position.coords.latitude;
      var lng = position.coords.longitude;

      var ggPoint = new BMap.Point(lng,lat);
      //转换成百度地图坐标
      var trunback = function (point){
           $.cookie("lng",point.lng,{expires:7});
           $.cookie("lat",point.lat,{expires:7});
           $.post("ajax_back_end.php",{"act":"reposition","lng":pt.lng,"lat":pt.lat},function(){})
      }
      BMap.Convertor.translate(ggPoint,0,trunback);     
    }



  // 先HTML5定位，定位不到再百度地图定位
  if(!$.cookie("lng")  || !$.cookie("lat") || "$act" == "renew")
  {
    var position_option = {enableHighAccuracy: true,maximumAge: 30000,timeout: 20000};
    navigator.geolocation.getCurrentPosition(getPositionSuccess, getPositionError, position_option);
  }
  else
  {
    var t_lng = getCookie('lng');
    // alert( t_lng );
    var t_lat = getCookie('lat');
    if(!t_lng || !t_lat)
    {
      $.post("ajax_back_end.php",{"act":"reposition","lng":$.cookie("lng"),"lat":$.cookie("lat")},function(){})
    }
  }

  // 地址定位
  function showArea(BMap)
  {
    var point = new BMap.Point($.cookie("lng"),$.cookie("lat"));
    var geoc = new BMap.Geocoder();    
    geoc.getLocation(point, function(rs){
      var addComp = rs.addressComponents;
      // var address = addComp.province + "" + addComp.city + "" + addComp.district + "" + addComp.street + "" + addComp.streetNumber;
      var address = addComp.province;
      $(".area").html(address)
    });        
   
  }

  // 首页附近的店铺异步获取信息
  function getHtmlSecond()
  {
    $.post("ajax_back_end.php",{"act":"getNearInfo","limit":20},function(data){
      if(data == 1)
      {
        var t = setTimeout(getHtmlSecond,1000);
      }
      else
      {
        $(".itemSearchList").html(data);
        showArea(BMap);
      }
    });
  }
  showArea(BMap);
  // getHtmlSecond();
</script>
</body>
</html>
