<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>商城触屏版</title>
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/index_up.css">
<link rel="stylesheet" type="text/css" href="css/swiper.min.css">



<body>
<headers>
	<div class="swiper-container">
	    <div class="swiper-wrapper">
	        <div class="swiper-slide"><img src="images/iconfont/tuceng01.png"></div>
	        <div class="swiper-slide"><img src="images/iconfont/tuceng02.png"></div>
	        <div class="swiper-slide"><img src="images/iconfont/tuceng03.png"></div>
	        <div class="swiper-slide"><img src="images/iconfont/tuceng04.png"></div>
	        <div class="swiper-slide"><img src="images/iconfont/tuceng05.png"></div>
	    </div>

	    <!-- 如果需要分页器 -->
	    <div class="swiper-pagination"></div>
	</div>

	<div class="nctouch-home-top">
		<div class="transparent">
			<div class="transparent-distinct"><a href="location.html"><span style="font-size: 0.8rem;color:#FF7E18" class='area'>上海</span><i class="left_icon"></i></a></div>
			<div class="transparent-search">
				<a href="tmpl/search.html" class="header-inps width"> <i class="icon"></i> <span class="search-input" id="keyword">输入查询内容</span> </a>
			</div>
			<a href="tmpl/member/chat_list.html"><div class="transparent-chat"></div></a>
		</div>
	</div>

	<div class="activity-contain clearfix">
		<ul>
			<a href="./tmpl/member/allVoucher.html"><li><img src="images/iconfont/packet.png" /><p>红包</p></li></a>
			<a href="./tmpl/product_list.html?ctl=Seller_Promotion_Discount&met=index"><li><img src="images/iconfont/preference.png" /><p>特惠</p></li>
			<a href="./tmpl/product_list.html?ctl=GroupBuy&met=index"><li><img src="images/iconfont/groupbuy.png" /><p>团购</p></li></a>
			<a href="tmpl/member/signin.html"><li><img src="images/iconfont/sign.png" /><p>签到</p></li></a>
			<li><img src="images/iconfont/service.png" /><p>服务</p></li>
		</ul>
	</div>
</headers>
        <div hidden id="container" 
            style="position: absolute;
                margin-top:30px; 
                width: 730px; 
                height: 590px; 
                top: 50; 
                border: 1px solid gray;
                overflow:hidden;">
        </div>
<div class="product-contain clearfix">
	<div class="shop-adv clearfix">
		<div class="shop-contain clearfix">
			<div class="shop-contain-img"><a href="java:void(0)"><img src="images/iconfont/packet.png" /></a></div>
			<div id="shopinfo"></div>
			<script type="text/html" id="shop_info">
			 <div class="shop-contain-info clearfix">
				<dl>
					<dt class="shop-name"><%=shop_name%><span class="button-l"> 营业中</span><span>(06:00-22:00)</span><i class="examine"></i></dt>
					<dd class="shop-tel"><span><%=shop_tel%></span></dd>
					<dd class="shop-address"><a href="javascript:void(0)" style="color:inherit;"><%=shop_address%><span style="color:#FF7E18;margin-left: 0.2rem">距离您<b style="font-size: 0.6rem">/<%=shop_stamp%>m</b></span></a></dd>
				</dl>
			</div>
			</script>
		
		</div>

		<div class="announ-contain">
			<div class="">
				<span class="announ-contain-title">最新公告 | </span><span class="swap"></span><span class='news_li'>10月25号上午花园路一点LIFE特惠活动十点开始！</span>
			</div>
		</div>

		<div class="pic-contain">
			<div class="swiper-container1">
			    <div class="jR3DCarouselGallery" ></div>
		    	<!-- <div class="swiper-pagination swiper-pagination-fraction"></div> -->
			</div>
		</div>
	</div>

	<div class="product-recommend clearfix" id="product-contain3">	</div>
	<script type="text/html" id="goods3">
		<ul class="clearfix">
		<% for (var i in data.items) { %>
		<% if ( i <6) { %>	
			<li><a href="tmpl/product_detail.html?goods_id=<%= data.items[i].common_id %>">
				<img class="a" src="<%= data.items[i].common_image %>" alt="" >
			 	<div class="product-recommend-info">
			 		<dl>
			 			<dt><%= data.items[i].common_name %></dt>
			 			<dd>剩余<%= data.items[i].common_stock %>盒</dd>
			 			<dd class="price">￥<%= data.items[i].common_price %></a><a class='add1' href="javascript:void(0)"><i class="add"><input type="hidden"value="<%=data.items[i].common_id %>"></i></a></dd>
			 			
			 		</dl>
			 	</div>

			</li>
			<% } %>
			<% } %>
			
		</ul>
	</script>


	
		
	<div id="product-contain2">	</div>
	<script type="text/html" id="goods2">
	<div class="product-list">
		<div class="product-list-pic"><a href="tmpl/product_first_categroy.html"><img src="images/iconfont/tuceng02.png" /></a></div>
			
		<div class="product-list-title"><a href="tmpl/product_first_categroy.html"><span></span><span class="more-con" style="float: right;color: #999">more<i class="more" ></i></span></a></div>		
		<div class="product-list-info clearfix">
			<ul>
			<% for (var i in items) { %>
				<% if (items[i].cat_id==3) { %>
				<li><a href="tmpl/product_detail.html?goods_id=<%= items[i].common_id %>">
					<img src="<%= items[i].common_image %>" />
					<p><%= items[i].common_name %></p>
					<p class="pro-info-price">￥<%= items[i].common_price %></p>
				</a></li>
					<% } %>
				<% } %>
			</ul>
		</div>
	
	</div>
	</script>
	<div id="product-contain1">	</div>
	<script type="text/html" id="goods1">
	<div class="product-list">
		<div class="product-list-pic"><img src="images/iconfont/tuceng02.png" /></div>
			
		<div class="product-list-title"><a href="tmpl/product_first_categroy.html"><span></span><span class="more-con" style="float: right;color: #999">more<i class="more" ></i></span></a></div>		
		<div class="product-list-info clearfix">
			<ul>
			<% for (var i in items) { %>
				<% if (items[i].cat_id==4) { %>
				<li><a href="tmpl/product_detail.html?goods_id=<%= items[i].common_id %>">
					<img src="<%= items[i].common_image %>" />
					<p><%= items[i].common_name %></p>
					<p class="pro-info-price">￥<%= items[i].common_price %></p>
				</a></li>
					<% } %>
				<% } %>
			</ul>
		</div>
	
	</div>
	</script>	

</div>
<div class="fix-block-r">
	<a href="javascript:void(0);" class="gotop-btn gotop hide" id="goTopBtn"><i></i></a>
</div>
<div class="activity-end">活动已经加载完毕</div>

	<footer class="clearfix">
	<div class="footer-nav clearfix">
		<ul class="clearfix">
			<li><a href="index.html"><img src="images/iconfont/home.png" /><p>首页</p></a></li>
			<li><a href="tmpl/product_first_categroy.html"><img src="images/iconfont/cat.png" /><p>分类</p></a></li>
			<li><a href="tmpl/member/signin.html"><img src="images/iconfont/door.png" /></a><p>芝麻开门</p></li>
			<li><a href="tmpl/cart_list.html"><img src="images/iconfont/cart.png"  /><span id='cart_count'></span><p >购物车</p/a></li>
			<li><a href="tmpl/member/member.html"><img src="images/iconfont/mine.png" /><p>我的</p></a></li>
		<ul>
	</div>
	</footer>



<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script> 
<script type="text/javascript" src="js/cityData.js"></script>
<script type="text/javascript" src="js/cityPicker.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=GAGiz9gdoRfTpImL6A2RZYxH"></script>
<script type="text/javascript" src="http://developer.baidu.com/map/jsdemo/demo/convertor.js"></script>
<!-- 核心js文件集 -->
<script type="text/javascript" src="js/config.php"></script>
<script type="text/javascript" src="js/zepto.min.js"></script> 
<script type="text/javascript" src="js/common.js"></script> 
<script type="text/javascript" src="js/template.js"></script> 
<script type="text/javascript" src="js/swipe.js"></script> 
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript" src="js/config.php"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="js/swipe.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/iscroll.js"></script>
<script type="text/javascript" src="js/simple-plugin.js"></script>
<script type="text/javascript" src="js/tmpl/footer.js"></script>
<script type="text/javascript" src="js/fly/requestAnimationFrame.js"></script>
<script type="text/javascript" src="js/fly/zepto.fly.min.js"></script>

<script type="text/javascript" src="js/index.js"></script> 
<script type="text/javascript" src="js/tmpl/footer.js"></script>
<!-- 核心js文件集end -->
<script type="text/javascript" src="js/auto_position.js"></script>
<!-- index1.js 第1个图片轮播 -->
<script type="text/javascript" src="js/swiper.min.js"></script> 
<!-- index1.js 第二个图片轮播 -->
<script type="text/javascript" src="js/jR3DCarousel.min.js"></script>
<script type="text/javascript" src="js/index1.js"></script>




<script type="text/javascript">

window.onload = function() {
	var swiper = new Swiper('.swiper-container', {
		pagination: '.swiper-pagination',
		paginationType : 'bullets',
		// paginationType : 'fraction',
		paginationClickable: true,
		autoplayDisableOnInteraction: false,
		autoplay: 3000,
		speed: 300,
		//loop: true, 
		grabCursor: true,
		paginationClickable: true,
		mousewheelControl: true,
		lazyLoading: true,
		// nextButton: '.swiper-button-next',
		// prevButton: '.swiper-button-prev',
		// pagination: '.swiper-pagination',

	});
};

//========================
	$(function(){
		var c = $(window).width();
		// alert(1);
       $('.a').height(c/2-1);
	   
		var width2 = $('.product-list-info').find('img').width();
		  // alert(width2);
		    $('.product-list-info').find('img').height(width2);
		    var width3 = $('.footer-nav').find('img').width();
		    $('.footer-nav').find('img').height(width3);   
	})
  //自动获取定位信息功能
      showArea(BMap);

      // JavaScript Document
function b(){	
	t = parseInt(x.css('top'));
	y.css('top','19px');	
	x.animate({top: t - 19 + 'px'},'slow');	//19为每个li的高度
	if(Math.abs(t) == h-19){ //19为每个li的高度
		y.animate({top:'0px'},'slow');
		z=x;
		x=y;
		y=z;
	}
	setTimeout(b,1000);//滚动间隔时间 现在是3秒
}
$(document).ready(function(){
	$('.swap').html($('.news_li').html());
	x = $('.news_li');
	y = $('.swap');
	h = $('.news_li').length; //19为每个li的高度
	setTimeout(b,1000);//滚动间隔时间 现在是3秒
	
})
</script> 


</body>
</html>
