<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>商城触屏版</title>
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/index_up.css">
<link rel="stylesheet" type="text/css" href="css/swiper.min.css">



<body>

<headers>
	<div class="swiper-container banner01">
	    <div class="swiper-wrapper">
	        <div class="swiper-slide"><img src="images/iconfont/tuceng01.png"></div>
	        <div class="swiper-slide"><img src="images/iconfont/tuceng02.png"></div>
	        <div class="swiper-slide"><img src="images/iconfont/tuceng03.png"></div>
	        <div class="swiper-slide"><img src="images/iconfont/tuceng04.png"></div>
	        <div class="swiper-slide"><img src="images/iconfont/tuceng05.png"></div>
	    </div>

	    <!-- 如果需要分页器 -->
	    <div class="swiper-pagination"></div>
	</div>

	<div class="nctouch-home-top">
		<div class="transparent">
			<div class="transparent-distinct"><a href="location.html"><span style="font-size: 0.8rem;color:#FF7E18" class='area'>上海市</span><i class="left_icon"></i></a></div>
			<div class="transparent-search">
				<a href="tmpl/search.html" class="header-inps width"> <i class="icon"></i> <span class="search-input" id="">输入查询内容</span> </a>
			</div>
			<a href="tmpl/member/chat_list.html"><div class="transparent-chat"></div></a>
		</div>
	</div>

	<div class="activity-contain clearfix">
		<ul>
			<a href="./tmpl/member/allVoucher.html"><li><img src="images/iconfont/packet.png" /><p>红包</p></li></a>
			<a href="./tmpl/product_list.html?ctl=Seller_Promotion_Discount&met=index"><li><img src="images/iconfont/preference.png" /><p>特惠</p></li>
			<a href="./tmpl/product_list.html?ctl=Promotion_ActIncrease&met=getIncreaseInfo"><li><img src="images/iconfont/groupbuy.png" /><p>团购</p></li></a>
			<a href="tmpl/member/signin.html"><li><img src="images/iconfont/sign.png" /><p>积分</p></li></a>
			<li><img src="images/iconfont/service.png" /><p>服务</p></li>
		</ul>
	</div>
</headers>
        <div hidden id="container" 
            style="position: absolute;
                margin-top:30px; 
                width: 730px; 
                height: 590px; 
                top: 50; 
                border: 1px solid gray;
                overflow:hidden;">
        </div>
<div class="product-contain clearfix">
	<div class="shop-adv clearfix">
		<div class="shop-contain clearfix">
			<div id="shopinfo"></div>
			<script type="text/html" id="shop_info">
			<div class="shop-contain-img"><a href="tmpl/product_first_categroy.html?shop_id=<%=shop_id%>"><img src="<%=shop_logo%>" /></a></div>
			 <div class="shop-contain-info clearfix">
				<dl>
					<a class="shop-name" href="tmpl/product_first_categroy.html?shop_id=<%=shop_id%>"><dt class="shop-name"><%=shop_name%><span class="button-l"> 营业中 </span><span>(06:00-22:00)</span><i class="examine"></i></dt></a>
					<dd class="shop-tel"><span><a href="tel://<%=shop_tel%> "><%=shop_tel%></a></span></dd>
					<dd class="shop-address"><a href="tmpl/product_first_categroy.html?shop_id=<%=shop_id%>" style="color:inherit;"><%=shop_address%><span style="color:#FF7E18;margin-left: 0.2rem">距离您<b style="font-size: 0.6rem">/<%=shop_stamp%></b></span></a></dd>
				</dl>
			</div>
			</script>
		
		</div>

		<div class="announ-contain">
			<div class="">
				<img src="images/iconfont/announce.png"style="vertical-align:middle" height="29px"height="" alt="公告"><span class="announ-contain-title"> </span>
				<div class="swiper_wrap">
						<ul class="font_inner" id='announ'>

						</ul>

					</div>
			</div>
		</div>

		<div class="pic-contain" id='shopslid'>
			<div class="swiper-container banner02" >
			    <div class="swiper-wrapper">
			        
			    </div>

			    <!-- 如果需要分页器 -->
			    <div class="swiper-pagination"></div>
			</div>			
		</div>
	</div>
	
	 

	<script type="text/html" id="announcement">
		<li style="display:block">
			<a href="tmpl/wap_announce.html?article_id=<%=data[0].article_id%>"><%=data[0].article_title%></a>
		</li>
	<%for(var i=0;i<data.length;i++){%>
		<li >
			<a href="tmpl/wap_announce.html?article_id=<%=data[i].article_id%>"><%=data[i].article_title%></a>
		</li>
    <%}%>
	</script>
	<div class="product-recommend clearfix" id="product-contain3">	</div>
	<script type="text/html" id="goods3">
		<ul class="clearfix">
		<% for (var i in data.items) { %>
		<% if ( i <8) { %>	
			<li><a href="tmpl/product_detail.html?goods_id=<%= data.items[i].goods_id %>">
				<img class="a" src="<%= data.items[i].goods_image %>" alt="" >
			 	<div class="product-recommend-info">
			 		<dl class='demo text-overflow'>
			 			<dt><%= data.items[i].goods_name %></dt>
			 			<dd>库存<%= data.items[i].goods_stock %>件</dd>
			 			<dd class="price">￥<%= data.items[i].goods_price %></a><a class='add1' href="javascript:void(0)"><i class="add2"><input type="hidden"value="<%=data.items[i].goods_id %>"></i></a></dd>
			 			
			 		</dl>
			 	</div>

			</li>
			<% } %>
			<% } %>
			
		</ul>
	</script>


	
		
	<div id="product-contain2">	</div>
	<script type="text/html" id="goods2">
	<div class="product-list">
		<div class="product-list-pic"><a href="<%=data.wap_index_longadv_link1%>"><img src="<%=data.wap_index_longadv1_image%>" /></a></div>
			
		<div class="product-list-title"><a href="<%=data.wap_index_longadv_link2%>"><image src="<%=data.wap_index_longadv2_image%>"></a></div>		
		<div class="product-list-info clearfix">
			<ul>
			<% if(data.wap_index_adv1_image){%>				
				<li><a href="<%=data.wap_index_adv_link1%>">
					<img src="<%=data.wap_index_adv1_image%>" />
				</a>
				</li>
			<% }%>
			<% if(data.wap_index_adv2_image){%>					
				<li><a href="<%=data.wap_index_adv_link2%>">
					<img src="<%=data.wap_index_adv2_image%>" />
				</a>
				</li>
			<% }%>
			<% if(data.wap_index_adv3_image){%>					
				<li><a href="<%=data.wap_index_adv_link3%>">
					<img src="<%=data.wap_index_adv3_image%>" />
				</a>
				</li>
			<% }%>
			<% if(data.wap_index_adv4_image){%>					
				<li><a href="<%=data.wap_index_adv_link4%>">
					<img src="<%=data.wap_index_adv4_image%>" />
				</a>
				</li>
			<% }%>
			<% if(data.wap_index_adv5_image){%>					
				<li><a href="<%=data.wap_index_adv_link5%>">
					<img src="<%=data.wap_index_adv5_image%>" />
				</a>
				</li>
			<% }%>
			<% if(data.wap_index_adv6_image){%>					
				<li><a href="<%=data.wap_index_adv_link6%>">
					<img src="<%=data.wap_index_adv6_image%>" />
				</a>
				</li>
			<% }%>
			</ul>
		</div>
	
	</div>
	</script>

	<div id="product-contain1">	</div>
	<script type="text/html" id="goods1">
	<div class="product-list">
		<div class="product-list-pic"><a href="<%=data.wap_index_longadv_link1%>"><img src="<%=data.wap_index_longadv3_image%>" /></a></div>
			
		<div class="product-list-title"><a href="<%=data.wap_index_longadv_link2%>"><image src="<%=data.wap_index_longadv4_image%>"></a></div>		
		<div class="product-list-info clearfix">
			<ul>
			<% if(data.wap_index_adv7_image){%>
				<li><a href="<%=data.wap_index_adv_link7%>">
					<img src="<%=data.wap_index_adv7_image%>" />
				</a>
				</li>
			<% }%>
			<% if(data.wap_index_adv8_image){%>			
				<li><a href="<%=data.wap_index_adv_link8%>">
					<img src="<%=data.wap_index_adv8_image%>" />
				</a>
				</li>
				<% }%>
			<% if(data.wap_index_adv9_image){%>				
				<li><a href="<%=data.wap_index_adv_link9%>">
					<img src="<%=data.wap_index_adv9_image%>" />
				</a>
				</li>
				<% }%>
			<% if(data.wap_index_adv10_image){%>	
				<li><a href="<%=data.wap_index_adv_link10%>">
					<img src="<%=data.wap_index_adv10_image%>" />
				</a>
				</li>
				<% }%>
			<% if(data.wap_index_adv11_image){%>					
				<li><a href="<%=data.wap_index_adv_link11%>">
					<img src="<%=data.wap_index_adv11_image%>" />
				</a>
				</li>
				<% }%>
			<% if(data.wap_index_adv12_image){%>					
				<li><a href="<%=data.wap_index_adv_link12%>">
					<img src="<%=data.wap_index_adv12_image%>" />
				</a>
				</li>
				<% }%>
			</ul>
		</div>
	
	</div>
	</script>	
	<div id="product-contain0">	</div>
	<script type="text/html" id="goods0">
	<div class="product-list">
		<div class="product-list-pic"><a href="<%=data.wap_index_longadv_link1%>"><img src="<%=data.wap_index_longadv5_image%>" /></a></div>
			
		<div class="product-list-title"><a href="<%=data.wap_index_longadv_link2%>"><image src="<%=data.wap_index_longadv6_image%>"></a></div>		
		<div class="product-list-info clearfix">
			<ul>
			<% if(data.wap_index_adv13_image){%>				
				<li><a href="<%=data.wap_index_adv_link13%>">
					<img src="<%=data.wap_index_adv13_image%>" />
				</a>
				</li>
			<% }%>
			<% if(data.wap_index_adv14_image){%>					
				<li><a href="<%=data.wap_index_adv_link14%>">
					<img src="<%=data.wap_index_adv14_image%>" />
				</a>
				</li>
			<% }%>
			<% if(data.wap_index_adv15_image){%>					
				<li><a href="<%=data.wap_index_adv_link15%>">
					<img src="<%=data.wap_index_adv15_image%>" />
				</a>
				</li>
			<% }%>
			<% if(data.wap_index_adv16_image){%>					
				<li><a href="<%=data.wap_index_adv_link16%>">
					<img src="<%=data.wap_index_adv16_image%>" />
				</a>
				</li>
			<% }%>
			<% if(data.wap_index_adv17_image){%>					
				<li><a href="<%=data.wap_index_adv_link17%>">
					<img src="<%=data.wap_index_adv17_image%>" />
				</a>
				</li>
			<% }%>
			<% if(data.wap_index_adv18_image){%>					
				<li><a href="<%=data.wap_index_adv_link18%>">
					<img src="<%=data.wap_index_adv18_image%>" />
				</a>
				</li>																				
			<% }%>
			</ul>
		</div>
	
	</div>
	</script>
</div>
<div class="fix-block-r">
	<!-- <a href="javascript:void(0);" class="gotop-btn gotop hide" id="goTopBtn"><i></i></a> -->
</div>
<div class="activity-end"> </div>

	<footer class="clearfix">
	<div class="footer-nav clearfix">
		<ul class="clearfix mainlist1">
			<li id='active1'><a href="index.html"><img src="images/iconfont/home.png" /><p>首页</p></a></li><li><a href="tmpl/product_first_categroy.html"><img src="images/iconfont/cat.png" /><p>分类</p></a></li><li><a href="tmpl/door.html"><img src="images/iconfont/door.png" /></a><p>芝麻开门</p></li><li><a href="tmpl/cart_list.html"><img src="images/iconfont/cart.png"  /><span id='cart_count'></span><p >购物车</p/a></li><li><a href="tmpl/member/member.html"><img src="images/iconfont/mine.png" /><p>我的</p></a></li>
		<ul>
	</div>	
	</footer>



<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script> 
<script type="text/javascript" src="js/cityData.js"></script>
<script type="text/javascript" src="js/cityPicker.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=GAGiz9gdoRfTpImL6A2RZYxH"></script>
<script type="text/javascript" src="http://developer.baidu.com/map/jsdemo/demo/convertor.js"></script>
<!-- 核心js文件集 -->
<script type="text/javascript" src="js/config.php"></script>
<script type="text/javascript" src="js/zepto.min.js"></script> 
<script type="text/javascript" src="js/common.js"></script> 
<script type="text/javascript" src="js/template.js"></script> 
<script type="text/javascript" src="js/swipe.js"></script> 
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript" src="js/config.php"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="js/swipe.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/iscroll.js"></script>
<script type="text/javascript" src="js/simple-plugin.js"></script>
<script type="text/javascript" src="js/tmpl/footer.js"></script>
<script type="text/javascript" src="js/fly/requestAnimationFrame.js"></script>
<script type="text/javascript" src="js/fly/zepto.fly.min.js"></script>

<script type="text/javascript" src="js/index.js"></script> 
<script type="text/javascript" src="js/tmpl/footer.js"></script>
<!-- 核心js文件集end -->
<script type="text/javascript" src="js/auto_position.js"></script>
<!-- index1.js 第1个图片轮播 -->
<script type="text/javascript" src="js/swiper.min.js"></script> 
<!-- index1.js 第二个图片轮播 -->





<script type="text/javascript">

window.onload = function() {
	var swiper = new Swiper('.banner01', {
		pagination: '.swiper-pagination',
		paginationType : 'bullets',
		// paginationType : 'fraction',
		paginationClickable: true,
		autoplayDisableOnInteraction: false,
		autoplay: 1500,
		speed: 300,
		height : 205, 
		grabCursor: true,
		paginationClickable: true,
		mousewheelControl: true,
		lazyLoading: true,
		// nextButton: '.swiper-button-next',
		// prevButton: '.swiper-button-prev',
		// pagination: '.swiper-pagination',

	});
	var swiper = new Swiper('.banner02', {
		pagination: '.swiper-pagination',
		paginationType : 'bullets',
		// paginationType : 'fraction',
		paginationClickable: true,
		autoplayDisableOnInteraction: false,
		autoplay: 1300,
		speed: 500,
		height : 120, 
		grabCursor: true,
		paginationClickable: true,
		mousewheelControl: true,
		lazyLoading: true,
		// nextButton: '.swiper-button-next',
		// prevButton: '.swiper-button-prev',
		// pagination: '.swiper-pagination',

	});	
};


  //自动获取定位信息功能
      showArea(BMap);


</script> 
<!--     公告轮播插件 -->
<script type="text/javascript">
	$(function(){
		//1文字轮播(2-5页中间)开始
	
	$(".font_inner li:eq(0)").clone(true).appendTo($(".font_inner"));//克隆第一个放到最后(实现无缝滚动)
	var liHeight = $(".swiper_wrap").height();//一个li的高度
	//获取li的总高度再减去一个li的高度(再减一个Li是因为克隆了多出了一个Li的高度)
	var totalHeight = ($(".font_inner li").length *  $(".font_inner li").eq(0).height()) -liHeight;
	$(".font_inner").height(totalHeight);//给ul赋值高度
	var index = 0;
	var autoTimer = 0;//全局变量目的实现左右点击同步
	var clickEndFlag = true; //设置每张走完才能再点击

	function tab(){
		$(".font_inner").stop().animate({
			top: -index * liHeight
		},400,function(){
			clickEndFlag = true;//图片走完才会true
			if(index == $(".font_inner li").length -1) {
				$(".font_inner").css({top:0});
				index = 0;
			}
		})
	}

	function next() {
		index++;
		if(index > $(".font_inner li").length - 1) {//判断index为最后一个Li时index为0
			index = 0;
		}
		// alert(index);
		$(".font_inner li").eq(index).siblings().css('display','none');
		$(".font_inner li").eq(index).css('display','block');
		tab();
	}
	function prev() {
		index--;
		if(index < 0) {
			index = $(".font_inner li").size() - 2;//因为index的0 == 第一个Li，减二是因为一开始就克隆了一个LI在尾部也就是多出了一个Li，减二也就是_index = Li的长度减二
			$(".font_inner").css("top",- ($(".font_inner li").size() -1) * liHeight);//当_index为-1时执行这条，也就是走到li的最后一个
		}
		tab();
	}

	//自动轮播
	autoTimer = setInterval(next,3000);
	$(".font_inner a").hover(function(){
		clearInterval(autoTimer);
	},function() {
		autoTimer = setInterval(next,3000);
	})


	})
	</script>

</body>
</html>
