.list{
	width:100%;
	font-size:0.8rem;
	color:#3A3A3A;
	background-color:#FFFFFF;
	margin-bottom: 0.6rem;
}
.list a {
	color:orange;
}
.header-title{
	font-size:0.8rem;
}
.title{
		font-size:0.6rem;
		margin-bottom: 1rem;
}
.list_left{
	float:left;
}
.list_left img{
	height:3rem;width:5rem

}
.list_right{
	float:left;
	 margin-left: 1rem;
}