body{
		font-family: '微软雅黑';
	}
	.clearfix { 
	  zoom: 1; 
	} 
    .header{
    	height: auto;
    }
    .area{
        font-size: 0.8rem;
    }

	.swiper-container{
			width:100%;
			height:auto;
			position: relative;
			z-index: 1;
			overflow: hidden;
			margin: 0 auto;
			background: white;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			-o-backface-visibility: hidden;
			backface-visibility: hidden;
			
		}
		
		.swiper-container .swiper-wrapper {
			position: relative;
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			box-sizing: content-box;
			width: 100%;
			-webkit-transition-timing-function: ease;
			-moz-transition-timing-function: ease;
			-o-transition-timing-function: ease;
			transition-timing-function: ease;
			-webkit-transition-duration: 0s;
			-moz-transition-duration: 0s;
			-o-transition-duration: 0s;
			transition-duration: 0s;
			-webkit-transition-property: -webkit-transform, left, top;
			-moz-transition-property: -moz-transform, left, top;
			-o-transition-property: -o-transform, left, top;
			transition-property: transform, left, top;
			-webkit-transform: translate3d(0px, 0, 0);
			-moz-transform: translate3d(0px, 0, 0);
			-o-transform: translate3d(0px, 0, 0);
			-o-transform: translate(0px, 0px);
			transform: translate3d(0px, 0, 0);
			-ms-transition-property: -ms-transform, left, top;
			-ms-transition-duration: 0s;
			-ms-transform: translate3d(0px, 0, 0);
			-ms-transition-timing-function: ease
		}
       .swiper-wrapper {
            position: relative;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            width: 100%;
            -webkit-transition-timing-function: ease;
            -moz-transition-timing-function: ease;
            -o-transition-timing-function: ease;
            transition-timing-function: ease;
            -webkit-transition-duration: 0s;
            -moz-transition-duration: 0s;
            -o-transition-duration: 0s;
            transition-duration: 0s;
            -webkit-transition-property: -webkit-transform, left, top;
            -moz-transition-property: -moz-transform, left, top;
            -o-transition-property: -o-transform, left, top;
            transition-property: transform, left, top;
            -webkit-transform: translate3d(0px, 0, 0);
            -moz-transform: translate3d(0px, 0, 0);
            -o-transform: translate3d(0px, 0, 0);
            -o-transform: translate(0px, 0px);
            transform: translate3d(0px, 0, 0);
            -ms-transition-property: -ms-transform, left, top;
            -ms-transition-duration: 0s;
            -ms-transform: translate3d(0px, 0, 0);
            -ms-transition-timing-function: ease
        }		
		.swiper-free-mode>.swiper-wrapper {
			margin: 0 auto;
			-webkit-transition-timing-function: ease-out;
			-moz-transition-timing-function: ease-out;
			-o-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
			-ms-transition-timing-function: ease-out
		}
		.swiper-container-horizontal>.swiper-pagination-bullets{
			bottom:0;
		}
		
		.swiper-slide {
			float: left;
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			box-sizing: content-box
		}
		
		.swiper-slide {
			float: left
		}
		
		.swiper-slide img {
			width: 100%;
			height: 100%;
		}
		
		.swiper-slide {
			background: #f3f3f3;
			text-align: center;
			font-size: 18px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
		}

 .text-overflow {
    overflow: hidden; /*清除浮动*/
 }
 /*Safari,Opera,IE下效果*/
 .text-overflow dt{
   display: block;
   /*width: 100px; *//*设置内容宽度*/
   overflow: hidden;/*隐藏溢出的文本*/
   white-space: nowrap;/*让文本不换行*/
   -o-text-overflow: ellipsis;/*Opera下实现ellipsis效果*/
   text-overflow: ellipsis;/*Safari，IE下实现ellipsis效果*/
 }
        
 /*Firefox实现效果*/
 @-moz-document url-prefix(){ /*@-moz-document url-perfix(){}是firefox的一个独有属性，只有firefox浏览器能识别，也可以说是一种hack*/
   .text-overflow span {
     max-width: 70px;/* 在FF下改变内容宽度，用来放置:after增加的内容(...)*/
     float: left;/*进行浮动*/
   }
 }
 @-moz-document url-prefix(){ 
   /*利用:after增加(...)省略符*/
   .text-overflow:after {

      float: left;/*设置浮动*/
      width: 25px;/*省略符宽度*/
      padding-left: 5px;/*省略符内距，用来拉开内容之间的距离*/
      color: #000;
   }
 }

 .text-overflow1 {
    overflow: hidden; /*清除浮动*/
 }
 /*Safari,Opera,IE下效果*/
 .text-overflow1 span{
   display: block;
   /*width: 100px; *//*设置内容宽度*/
   overflow: hidden;/*隐藏溢出的文本*/
   white-space: nowrap;/*让文本不换行*/
   -o-text-overflow: ellipsis;/*Opera下实现ellipsis效果*/
   text-overflow: ellipsis;/*Safari，IE下实现ellipsis效果*/
 }
        
 /*Firefox实现效果*/
 @-moz-document url-prefix(){ /*@-moz-document url-perfix(){}是firefox的一个独有属性，只有firefox浏览器能识别，也可以说是一种hack*/
   .text-overflow span {
  /*   max-width: 70px;*//* 在FF下改变内容宽度，用来放置:after增加的内容(...)*/
     /*float: left;*//*进行浮动*/
   }
 }
 @-moz-document url-prefix(){ 
   /*利用:after增加(...)省略符*/
   .text-overflow:after {

      float: left;/*设置浮动*/
      width: 25px;/*省略符宽度*/
      padding-left: 5px;/*省略符内距，用来拉开内容之间的距离*/
      color: #000;
   }
 }


		.nctouch-home-top{
			width:100%;
			position: absolute;
			top:0;
		    display: block;
		    min-height: 2.2rem;
		    z-index: 2;
		    overflow: hidden;
		}
		.swiper-pagination-bullet-active {
		    opacity: 1;
		    background: #FF7E18;
		}
		.nctouch-home-top transparent {
		    position: absolute!important;
		    top: auto!important;
		    bottom: 0 !important;
        }
        .transparent .transparent-distinct{
        	position: absolute;
        	margin-left: 8px;
        }

       .left_icon{
        display: inline-block;
        width: 1rem;
		    height: 1rem;
		    background-image: url(../images/iconfont/right-row.png);
		    background-repeat: no-repeat;
		    background-position: 50% 100%;
		    background-size: 69% auto;
        margin-left: 0.13rem;
		    opacity: 1;

        }
        .transparent .transparent-search{
        	display: block;
		    max-width: 750px;
		    margin: 0 18%;
		    text-align: center;
            width:60%;
        }
        .transparent-search .header-inps{
		    background-color: rgba(251,237,238,0.9);
		    border: none;
		    border-radius: 8px;
		    display: block;
    		height: 1.4rem;
        line-height: 1.4rem;
    		margin:0.275rem 1.3rem;
            /*margin-left: 1.3rem;*/
        } 
        .width{
        	width:100%;
        }
		
        .icon{
        	display: inline-block;
        	width: 1rem;
		    height: 0.8rem;
		    background-image: url(../images/iconfont/search.png);
		    background-repeat: no-repeat;
		    background-position: 50% 0;
		    background-size: 100%;
		    opacity: 1;
        }
        .transparent-search a span{
        	font-size:0.8rem;
        	color: white;
        }

        .transparent .transparent-chat{
        	position: absolute;
        	right: 0.8rem;
        	top:0.4rem;
        	width: 1rem;
        	height: 1rem;
        	background: url(../images/iconfont/chat.png);
        	background-position: 50% 50%;
        	background-size: 100%;
        }

        .activity-contain{
        	padding: 0.5rem;
        	background: white;
        }
        .activity-contain a{
           color:black;
        }
        .activity-contain ul li{
        	display: block;
        	width:20%;
        	float: left;
        	text-align: center;
        }
        .activity-contain ul li img{
        	width:70%;
        	height:70%;
        }
        .activity-contain ul li p{
        	margin-top:0.2rem;
        	font-size: 0.65rem;
        }
        .product-contain{
        	margin-top: 0.5rem;
        	display: block;
        }
        .shop-adv{
        	background: white;
        }
        .shop-adv .shop-contain{
        	padding: 0.2rem;
/*            border-top:1px solid #ccc;
            border-bottom: 1px solid #ccc;*/
        }
        .shop-adv .shop-contain .shop-contain-img{
        	width: 20%;
        	float: left;
        	padding: 2px;
        }
        .shop-contain-img img{
        	  width: 3.6rem;
            height: 3.685rem;
            /*border-radius: 0.5;*/
            margin-top: 0.3rem;
            border: solid 0px #000;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 8px;
            -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,.5);
            -moz-box-shadow: inset 0 1px 5px rgba(0,0,0,.5);
            box-shadow: inset 0 1px 5px rgba(0,0,0,.5);             
        }



        .shop-adv .shop-contain .shop-contain-info{
        	width:75%;
        	height: 4.3rem;
        	float: right;
        	position: relative;
        	padding: 0.2rem;
        }
        .shop-contain-info .shop-name{
        	font-size: 0.7rem;
            color:#FF7E18;
            margin-top: 0.12rem;
        }
        .shop-contain-info .shop-name span{
        	height: 0.9rem;
        	line-height: 0.9rem;
        	font-size: 0.55rem;
        	margin-left:0.3rem;
        	color:#FF7E18;
        	border-radius: 0.2rem;
        }
        .button-l{
        	width: 2rem;
        	text-align: center;
        	background: #FF7E18;
        	color:white !important;
        }
        .shop-contain-info dl dd{
        	font-size: 0.55rem;
        	color:#999;
        	position: absolute;
        }
        .examine{
        	display: inline-block;
        	width: 1rem;
		    height: 1rem;
		    background-image: url(../images/iconfont/right-row.png);
		    background-repeat: no-repeat;
		    background-position: right;
            right: 3%;
		    background-size: 60%;
		    opacity: 1;
            position: absolute;
            top: 0.4rem;
        }
        .shop-contain-info dl dd.shop-tel{
        	bottom:1.9rem;

        }
        .shop-contain-info .shop-tel span{
		    background-image: url(../images/iconfont/phone.png);
		    background-position: left;
		    /* left: 56rem; */
		    background-repeat: no-repeat;
		    background-size: 0.9rem;
		    padding-left: 1rem;
            color: darkorange;
            font-size: medium;
        }
.shop-tel span a{
            color: darkorange;
            font-size: medium;
        }

        .shop-tel i{
        	position: absolute;
        }
        .shop-tel i.phone{
        	display: inline-block;
        	width: 1rem;
		    height: 1rem;
		    margin: 20%;
		    background-image: url(../images/iconfont/phone.png);
		    background-repeat: no-repeat;
		    background-position: 50% 50%;
		    background-size: 100%;
		    opacity: 1;
        }

        .shop-contain-info dl dd.shop-address{
        	bottom: 0.5rem;
        }
        .shop-contain-info .shop-address {
		    background-image: url(../images/iconfont/address.png);
		    background-position: left;
		    /* left: 56rem; */
		    background-repeat: no-repeat;
		    background-size: 0.9rem;
		    padding-left: 1rem;
        }
        .shop-address i.address{
        	display: inline-block;
        	width: 1rem;
		    height: 1rem;
		    margin: 20%;
		    background-image: url(../images/iconfont/address.png);
		    background-repeat: no-repeat;
		    background-position: 50% 50%;
		    background-size: 100%;
		    opacity: 1;
        }
        .shop-adv .pic-contain{

        }
        .shop-adv .pic-contain img{
        	/*height: 200px;*/
        }
        .product-recommend{
        	margin: 0rem auto 0 auto;
     		width: 100%;
        }
        .product-recommend ul{
        	margin-top:0.15rem;
        	padding: 0.1rem;
        	/*width: 100%;*/
        }
        .product-recommend ul li{
        	 width: 48.3%;
    		float: left;
    		padding: 0.05rem;
    		background: white;
            margin-bottom: 0.1rem;
    		margin-right: 0.1rem;
            /*height: 15rem;*/
        }
        .product-recommend ul li img{
        	width:100%;
            height:7.8rem;
        }
         .product-recommend ul li dl{
         	margin-top: 0.1rem;
         	padding: 0.2rem;
         	font-size: 0.65rem;
         	position: relative;
         }
         .product-recommend ul li dl dt{
           height: 1.1rem;
           font-size: 0.6rem;
           color:#000000;
         }
         .product-recommend ul li dl dd{
         	height: 1rem;
         	line-height: 1rem;
         	color:#999;
         }
         .price a{
         	color:#FD7B1A !important;
         	font-size: 0.75rem !important;
         }
         .product-recommend-info{
         	width: 100%;
         }
         .product-recommend-info i{
         	position: absolute;
         }
         .product-recommend-info dl{
         	padding: 0.9rem;
         }

        .font_inner a {
            float: left;
            margin-left: 3.4rem;
            margin-top: -1.2rem;
            color:orange;
        }
        .font_inner li{
            display:none;
        }
        .display{
            display:block;
        }

         .add2{
         	display: inline-block;
        	width: 1.2rem;
  		    height: 1.2rem;
  		    background-image: url(../images/iconfont/add02.png);
  		    background-repeat: no-repeat;
  		    background-position: 50% 50%;
  		    background-size: 100%;
  		    opacity: 1;

    		  bottom: 0.23rem;
          position: relative;
            right: 0.2rem;

         }
/*         .add2:nth-last-child(1){
          right: -4.3rem;
         }*/
         .product-list{
         	margin-top: 0.2rem;
         }

         .product-list .product-list-pic img{
         	width: 100%;
         	
         }
         .product-list .product-list-info ul li{
         	width: 33%;
         	float: left;
         	border-top: 1px solid rgba(204, 204, 204, 0.29);
         	border-right: 1px solid rgba(204, 204, 204, 0.5);
         	background: white;
         }
         .product-list .product-list-info ul li img{
/*         	/*width: 100%;*/
            width: 100%;
            height: 100%;
         }
         .product-list-title{
         	/*padding: 0.5rem;*/
         	font-size: 0.8rem;
         	height: 2rem;
            overflow: hidden;
         	line-height: 1rem;
         	background: white;
            margin-bottom: 0.2rem;
         }
         .product-list-title a img{
            width: 100%
         }


         .product-list .product-list-info p{
         	font-size: 0.6rem;
         	font-weight: 400;
         	text-align: center;
         	height: 1rem;
         	line-height: 1rem;
            /*padding-top: 1rem;*/
         }
         .product-list-info ul li{
            /*height:7rem;*/
         }
         .product-list-info ul li a{
         	color: #FF7E18;
         }
        .pro-info-price {
            margin-top:2rem;
        	color: #FF7E18 !important;

        }
        footer{
            position: fixed;
        	background: white;
        	margin-top: 0;
        }
        .footer-nav{
        	padding: 0.2rem;
        	height: 1rem;
        
        }

        .footer-nav ul li{
        	text-align: center;
        	width: 20%;
        	float: left;
        }
        .footer-nav ul li img{
        	width:30%;
        	padding: 0.2rem;
          height: 1.1rem;
        	
        }
        .footer-nav ul li p{
        	font-size: 0.65rem;
        	color:#999;
        }
        .activity-end{
        	font-size: 0.7rem;
        	text-align: center;
        	height: 0.4rem;
        	line-height: 2rem;
        	color: #999;
            margin-bottom: 3rem;
        }
       .activity-end1{
            font-size: 0.7rem;
            text-align: center;
            height: 0.4rem;
            line-height: 2rem;
            color: #999;
            margin-bottom: 3rem;
        }
       .activity-end2{
            font-size: 0.7rem;
            text-align: center;
            height: 2rem;
            line-height: 2rem;
            color: #999;
            margin-bottom: 3rem;
        }
/*        #activity-end2{
          margin-top: 30rem;
          padding-top: 20rem;
        } */       
        .announ-contain{
            background: white;
            height: 1rem;
            /*line-height: 1rem;*/
            font-size: 0.65rem;
            margin:0.5rem auto;
            
        }
        #cart_count sup{
            color:red;
            width:0.5rem;
        }
        .announ-contain .announ-contain-title{
            font-family: '雅宋';
            font-size: 0.55rem;

        }
.font_inner li{
  color:#000000;
  height:29px;
  line-height: 29px;
 margin-left: 1.3rem;
}
.font_inner li a{
  color:#000000;
 /*margin-left: 1.3rem;*/
}
    .goods_cont{
        font-size: 0.5rem;
        color:#FD801E;
        width: 100%;

    }
    .outer{
        clear: both;
        height:auto;
       background-color: #999;
       margin-top: -6px;
       width: 100%;
          /*border:1px solid blue;*/
    }
/*.outer img{
       height: 4rem;
    width: 4rem;
}
*/
.inter{
       float: left;
       margin-left: 0.1rem;
       padding-left: 0.1rem;
       margin-bottom: 0.1rem;
       padding-bottom: 0.8rem;
       width: 48.3%;
       background-color: white;
    }
.inter img{
  width: 100%;
  height: 6.5rem;
}
.inter:nth-last-of-type(1){
 margin-bottom: 0;
}
.inter:nth-last-of-type(2){
  margin-bottom: 0;
}
.inter a{
    color:black;
    font-size: 0.6rem;
}
.categroy-child-list:nth-last-of-type(1){
    margin-bottom:22rem;
}


