<!DOCTYPE html> 
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <title>代金券领取中心</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
 <!--    <link rel="stylesheet" type="text/css" href="../../../../shop/shop/static/default/css/Group-integral.css"> -->
<!--     <script src="../../../../shop/shop/static/common/js/jquery.js"></script>
    <script src="../../../../shop/shop/static/common/js/plugins/jquery.toastr.min.js"></script>
    <script src="../../../../shop/shop/static/default/js/common.js"></script>
    <script src="../../../../shop/shop/static/default/js/receive_voucher.js"></script> -->


</head>

<body>
    <header id="header">
        <div class="header-wrap">
            <div class="header-l">
                <a href="member.html"> <i class="back"></i> </a>
            </div>
            <div class="header-title">
                <h1>代金券领取中心 </h1>
            </div>
            <div class="header-r"> </div>
        </div>
    </header>
    <div class="nctouch-main-layout mb20">
        <div class="nctouch-address-list" id="voucher_list"></div>
    </div>
    <footer id="footer" class="bottom"></footer>
    <script type="text/html" id="svoucher_list">
     <% var common_list = items; %>
      <% if(common_list.length >0){%>
       
            <ul>
                <% for (var i in items) {%>
                    
                  <!--   <li style="margin-left:20px;margin-right:20px;margin-top:5px ;background: url(../../../../shop/shop/static/default/images/line_50.png) no-repeat;background-size:cover; ">
                                     
                      <dl style="padding: 0.5rem 0.5rem 0 0px;">
                          <dt>
                    <dd style="height:30px">
                    <%=items[i].shop_name %>
                     
                   <span class="name" style="font-size: 0.6rem;color: red;font-weight: normal;float:right;margin-right:-10px;"> 需 <%=items[i].voucher_t_points %> 积分</span> 
                             
                   </dd>   
                                     <span class="name" style="font-size: 0.6rem;line-height: 40px;color: #777;font-weight: normal;">  兑换方式：         <%=items[i].voucher_t_access_method_label %></span>   
                                     
                   <dd style="line-height:35px">
                  <b style="color:red"> ￥<%=items[i].voucher_t_price %></b>
                              
                   </dd>  
                   <dd style="line-height:35px">
                    (满<span style="color:red">￥<%=items[i].voucher_t_limit %></span>
                                 可用)
                   </dd>
                   
                  <dd class="phone" style="line-height: 40px;font-size: 0.6rem;color: #777;">
                  <span>有效期&nbsp;    <%=items[i].voucher_t_end_date %></span>
                  
                  <span style ="float:right">
                    
                          <div style="    background: #e45050;
                          color: #fff !important;
                          border-radius: 2px;
                          padding: 0 4px;
                          cursor: pointer;line-height: 30px;"><p class="btn_dh"  dh_id="<%=items[i].voucher_t_id %>">立即兑换</p></div>
                    
                  </span>
                  
                  </dd>
                                  </dt>
                         
                      </dl>
                    
                  </li> -->
                   












                     <li style="background-color:RGBA(244,244,244,0.6);height:128px;border-bottom:0" >
       <div style="margin:0px 10px 0 10px;height:104px;line-height:128px;background-color:RGB(254,254,254);">
                    <div style="display:inline;height:108px;width:108px;float:left;text-align:center;line-height:102px;font-size:30px;color:rgb(234,138,62);border-right:0.5px solid RGBA(244,244,244,1);"><span style="font-size:21px">￥</span><%=items[i].voucher_t_price %></div>
                    <div style="display:inline;height:102px;float:right;width:180px" >
                    <div style="text-align:left;line-height:36px;font-size:15px">状态:<%=items[i].voucher_t_price%></div>
                    <div style="text-align:left;line-height:36px;font-size:15px;color:rgb(189,189,189)">购物满<%=items[i].voucher_t_price %>元可用</div>
                    <div style="text-align:left;line-height:36px;font-size:15px;color:rgb(189,189,189)">有效期至:
                    <%=items[i].voucher_t_price%></div>

                    </div>
                    </div>
   </li>

                    <%}%>
            </ul>
                  <% if (hasmore) {%>
                    <li class="loading"><div class="spinner"><i></i></div>数据读取中...</li>
                  
                    <% }%>
         
               
   






              <% }else {   %>
  
    <div class="nctouch-norecord search">
        <div class="norecord-ico"><i></i></div>
        <dl>
            <dt>没有找到任何相关信息</dt>
            
        </dl>
        <a href="javascript:history.go(-1)" class="btn">重新选择</a>
    </div>
    <%
    }
    %>
    </script>

    <script type="text/javascript" src="../../js/zepto.min.js"></script>
    <script type="text/javascript" src="../../js/config.php"></script>
    <script type="text/javascript" src="../../js/template.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="../../js/simple-plugin.js"></script>
    <script type="text/javascript" src="./../../js/tmpl/allVoucher_list.js"></script>
    <script type="text/javascript" src="../../js/tmpl/footer.js"></script>
   
</body>

</html>

