<!DOCTYPE html> 
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <title>我的代金券</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
</head>

<body>
    <header id="header">
        <div class="header-wrap">
            <div class="header-l">
                <a href="member.html"> <i class="back"></i> </a>
            </div>
            <div class="header-title">
                <h1>我的代金券</h1>
            </div>
            <div class="header-r"> <a id="header-nav" href="address_opera.html"><i class="add"></i></a> </div>
        </div>
    </header>
    <div class="nctouch-main-layout mb20">
        <div class="nctouch-address-list" id="voucher_list"></div>
    </div>
    <footer id="footer" class="bottom"></footer>
    <script type="text/html" id="svoucher_list">
        <%if(items){%>
            <ul>
                <% for (var i in items) {%>
                  <!--   <li style="margin-left:20px;margin-right:20px;margin-top:5px ;">
                        <dl style="padding: 0.5rem 0.5rem 0 0px;">
                            <dt>
                    <span class="name" style="height: 1.3rem;font-size: 0.6rem;line-height: 0.65rem;color: #777;font-weight: normal;"> 面额：<%=items[i].voucher_price %></span>
                     <dd style="height:30px">
                      使 用条件：         满<%=items[i].voucher_limit %>
                                   可用
                     </dd>
                     <dd style="height:30px">
                      状态：         <%=items[i].voucher_state_label %>
                                   
                     </dd>
                    <dd class="phone" style="height: 1.3rem;font-size: 0.6rem;line-height: 0.65rem;color: #777;">有效期&nbsp;    <%=items[i].voucher_end_date %>
                    </dd>
                </dt>
                           
                        </dl>
                      
                    </li> -->
                    <% if (items[i].voucher_state_label!='过期'){%>
                     <li style="background-color:RGBA(244,244,244,0.6);height:128px;border-bottom:0" >
       <div style="margin:0px 30px 0 30px;height:104px;line-height:128px;background-color:RGB(254,254,254);">
                    <div style="display:inline;height:108px;width:108px;float:left;text-align:center;line-height:102px;font-size:30px;color:rgb(234,138,62);border-right:0.5px solid RGBA(244,244,244,1);"><span style="font-size:21px">￥</span><%=items[i].voucher_price %></div>
                    <div style="display:inline;height:102px;float:right;width:220px" >
                    <div style="text-align:left;line-height:36px;font-size:15px">状态:<%=items[i].voucher_state_label%></div>
                    <div style="text-align:left;line-height:36px;font-size:15px;color:rgb(189,189,189)">购物满<%=items[i].voucher_limit %>元可用
                    <span style="float:right">
                    <button class="btn_dh"  dh_id="<%=items[i].voucher_t_id %>" style="background-color:rgb(234,138,62);color:white;border-radius:7px; border-style:none;width:69px;height:25px;margin-bottom:5px">立即使用</button>
                    </span>
                    </div>
                    <div style="text-align:left;line-height:36px;font-size:15px;color:rgb(189,189,189)">有效期至:
                    <%=items[i].voucher_end_date.substr(0,10) %></div>

                    </div>
                    </div>
   </li>

                    
                      <%}%>



                    <%}%>
            </ul>
            
            <%}else{%>
                <div class="nctouch-norecord address">
                    <div class="norecord-ico"><i></i></div>
                    <dl>
                        <dt>您还没有代金券</dt>
                        
                    </dl>
                   
                </div>
                </div>
                <%}%>
    </script>
    <script type="text/javascript" src="../../js/zepto.min.js"></script>
    <script type="text/javascript" src="../../js/config.php"></script>
    <script type="text/javascript" src="../../js/template.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="../../js/simple-plugin.js"></script>
    <script type="text/javascript" src="../../js/tmpl/voucher_list.js"></script>
    <script type="text/javascript" src="../../js/tmpl/footer.js"></script>
</body>

</html>